* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('../img/background.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    
}

.endGame {
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.endGame h1{
    font-size: 60px;
    text-align: center;
    color: rgb(241, 231, 83);
    text-shadow: 0 0px 8px #FF0000;
    margin-bottom: 10px;
}

.endGame button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.options-button {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -100px;
}

.options-button button{
    background-color: rgb(5, 5, 88, 0.8);
    width: 200px;
    height: 25px;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
}


.options-wrapper {
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.options {
    height: 50vh;
    width: 40%;
    min-width: 300px;
    min-height: 290px;
    padding: 20px;
    display: flex;
    border: 2px solid rgb(44, 44, 114);
    box-shadow: 5px 5px rgb(38, 2, 97);
    border-radius: 20px;
    flex-direction: column;
    position: relative;
    background-color: #533799;
    z-index: 1;
    justify-content: start;
    align-items: center;
}

.options h1 {
    color: rgb(165, 16, 16);
    text-shadow: 1px 1px 3px yellow;
    font-size: 30px;
    margin-bottom: 20px;
}

.options-menu {
    margin-top: 40px;
    flex-direction: row;
}

.options-menu .b1 {
    width: 70px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    margin: 0 5px;
    background-color: rgb(10, 10, 134);
    color: yellow;
}

.options-menu .b1:disabled {
    background-color: grey;
    color: darkgrey
}

.options-menu .b2 {
    width: 80px;
    height: 80px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    margin: 0 5px;
    background-color: rgb(10, 10, 134);
    color: yellow;
}

.options .b2 img {
    width: 50px;
    height: 50px;
}

.memory-game {
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

#pawpatrolthemeGame {
    display: none;
}

.card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .9s;
}


.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: rgb(189, 199, 228);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden; /* retira o verso de um elemento */
}

.card-front {
    transform: rotateY(180deg);
}

/* flip card animation */

.card.flip {
    transform: rotateY(180deg);
}

@media screen and (max-width: 800px) {
    .memory-game {
        height: 85vh;
        width: 75vw;
    }  

    .options-button button{
        margin-top: 0px;
    }

  }

  @media screen and (max-width: 400px) {
    .memory-game {
        height: 65vh;
        width: 90vw;
    }  

    .card {
        height: 120px;
    }

    .endGame h1{
        font-size: 40px;
    }

    .options-button button{
        margin-top: 15px;
    }
  }